

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: "Host Grotesk", sans-serif;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background-image: url(codioful-formerly-gradienta-ix_kUDzCczo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tood{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 10px;
    border-radius: 3px;
    border: transparent;
    border: transparent;
    width: 80%;
    padding: 10px;
}


#button{
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    outline: none;
    background-color: black;
    border-radius: 5px;
    border: transparent;
}

.todo{
/* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    padding: 20px;
    border-radius: 3px;
margin-top: 15%;
height: 50vh;
}
.todo ol{
    padding-top: 10px;

}
.like li{
    display: list-item!important;
}
.todo ol li{
   
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
}
.but1{
    padding: 5px;
    background-color: red;
    color: black;
}
ol li i{
    cursor: pointer;
}